%ul.nav.pull-right
  - actions(:root).each do |action|
    %li= link_to wording_for(:menu, action), { :action => action.action_name, :controller => 'rails_admin/main' }, :class => 'pjax'
  - if main_app_root_path = (main_app.root_path rescue false)
    %li= link_to "Olive","/o"
    %li= link_to "17up", main_app_root_path
    - if user_link = edit_user_link
      %li= user_link
    - if defined?(Devise) && (devise_scope = request.env["warden"].config[:default_scope] rescue false) && (logout_path = main_app.send("destroy_#{devise_scope}_session_path") rescue false)
      %li= link_to content_tag('span', t('admin.misc.log_out'), :class => 'label label-important'), logout_path, :method => Devise.sign_out_via
