#new_provider_modal.hide.modal.fade
	.modal-header
		%button.close(type="button" data-dismiss="modal")
			×
		%h3
			新增关注
	.modal-body
		= form_for :provider,:url => "/provider/create",:remote => true,:html=>{:id=>"new_provider_form"} do |f|
			.input-prepend.input-append
				%span.btn-group
					%span.btn(rel="twitter")
						= image_tag("icon/twitter.png")
					%span.btn(rel="tumblr")
						= image_tag("icon/tumblr.png")
					%span.btn.actived(rel="weibo")
						= image_tag("icon/weibo.png")
				= f.hidden_field :provider,:value => "weibo"
				= f.text_field :uid,:placeholder => "输入uid",:required => "required"
				= f.submit "添加",:class => "btn-primary btn"