#top_nav.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			%button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".nav-collapse")
				- 3.times do
					%span.icon-bar
			%span.brand
				17UP
				= @subtitle
				- if @leafs and params[:pid]
					%span.tag
						&raquo;
						= Provider.find(params[:pid]).user_name
			.container.nav-collapse
				%ul.nav
					%li{:class => ("active" if @leafs)}
						= link_to leafs_path do
							%i.icon-leaf
							= t("leafs.title")
					%li{:class => ("active" if @words)}
						= link_to words_path do
							%i.icon-book
							= t("words.title")
					%li{:class => ("active" if @users)}
						= link_to hot_path do
							%i.icon-fire
							= t("hot.title")
				- if current_member
					%ul.nav.pull-right
						%li{:class => ("active" if @user == current_member)}
							%a{:href => account_path}
								= current_member.name
						%li
							%a(href = "/members/sign_out" data-method="delete" rel="nofollow")
								%span.label.label-important
									%i.icon-off
									登出
		