#menu
	%ul.clearfix
		%li.action
			%a{:href => leafs_path}
				%span.label
					%i.icon-leaf
					= "片语 #{Leaf.count}"
		%li.action
			%a{:href => words_path}
				%span.label
					%i.icon-book
					= "词汇 #{Word.all.count}"
		%li.action
			%a{:href => hot_path}
				%span.label.label-success
					%i.icon-user
					名人
					= Provider.count
			- if @users and current_member
				%span.label
					%i.icon-plus(onclick="add_provider_view();")
		- if current_member
			%li.action
				%a(href = "/members/sign_out" data-method="delete" rel="nofollow")
					%span.label.label-important
						%i.icon-off
						登出
		- else
			%li.action(onclick = "login();")
				%i.icon-off
				登录
#modal
	= render 'shared/login_modal'
	= render 'shared/new_provider'