<% @leafs.each do |leaf| %>
	<div class="leaf">
		<% if current_member %>
			<span class="action destroy hide" onclick="destroy_leaf(<%=leaf.id%>,$(this));">
				&times;
			</span>
			<span class="action edit hide">
				<a href="/admin/leaf/<%=leaf.id%>/edit"><i class="icon-pencil"></i></a>
			</span>
		<% end %>
		<div class="info clearfix">
			<span class="avatar left"><%= my_image_tag(leaf.provider.avatar,leaf.provider.weibo) %></span>
			<span class="name left">
				<%= link_to leaf.provider.user_name,"/p/#{leaf.provider.id}" %>
			</span>
			<span class="time right"><%= time_stamp(leaf.time_stamp) %></span>
		</div>
		<div class="content">
			<%= auto_link(leaf.content) %>
		</div>
		<% if leaf.image %>
			<div class="img"><%= my_image_tag(leaf.image(:medium),leaf.image(:large)) %></div>
		<% end %>
	</div> 
<% end %>