#user_list
	- @users.each do |u|
		%a{:href => leafs_path(:pid => u.id)}
			.user_item
				.avatar
					= image_tag(u.avatar(:large))
				.name
					= image_tag("icon/#{u.provider}.png")
					= u.user_name
	- if current_member and current_member.admin?
		= render 'modal/new_provider'
		#add_new_btn.user_item
			.avatar
				= image_tag('icon/avatar.png')
			.name
				+ 1