.logo_text
	17up
- unless current_member
	.register
		= link_to image_tag("icon/twitter_big.png"),member_omniauth_authorize_path(:twitter)
		= link_to image_tag("icon/weibo_big.png"),member_omniauth_authorize_path(:weibo)
#wrap.clearfix
	%a{:href => leafs_path}
		.nav_item
			微博
			%span.icon.bird
				= image_tag("icon/message.png")
			%span.button.xs.title.glossy.oval(data-icon=" ")
				微言大义
	%a{:href => words_path}
		.nav_item
			词汇
			%span.icon
				= image_tag("icon/word.png")
			%span.button.xs.title.glossy.back(data-icon=" ")
				词以类聚
	%a{:href => "/"}
		.nav_item
			投票
			%span.icon
				= image_tag("icon/vote.png")
			%span.button.xs.title.glossy.brackets(data-icon=" ")
				尽请期待