.logo_text
	17up
	%span.badge.badge-inverse
		Alpha
- unless current_member
	.register
		= link_to image_tag("icon/twitter_big.png"),member_omniauth_authorize_path(:twitter)		
		%span.login_tip.serif
			login
		= link_to image_tag("icon/weibo_big.png"),member_omniauth_authorize_path(:weibo)
#wrap.clearfix
	%a{:href => leafs_path}
		.nav_item
			= image_tag("fruit/bramley.png")
			%span.button.xs.title.glossy.green(data-icon=" ")
				bramley
	%a{:href => words_path}
		.nav_item
			= image_tag("fruit/cherry.png")
			%span.button.xs.title.glossy.back.pink(data-icon=" ")
				cherry
	%a{:href => "/hot"}
		.nav_item
			= image_tag("fruit/mango.png")
			%span.button.xs.title.glossy.orange(data-icon=" ")
				mango