.logo_text
	17up
	%span.badge.badge-inverse
		Alpha
- unless current_member
	.register
		= link_to image_tag("icon/twitter_big.png"),member_omniauth_authorize_path(:twitter)		
		%span.login_tip.serif
			login
		= link_to image_tag("icon/weibo_big.png"),member_omniauth_authorize_path(:weibo)
#wrap.clearfix.w1000
	%a{:href => leafs_path}
		.nav_item
			#weekdays
				- $home_page[:fruit].each do |f|
					.weekday
						= image_tag("fruit/#{f[0]}.png")
						%span.button.xs.title.glossy{:class => f[1] }(data-icon=" ")
							= f[0]
	%a{:href => words_path}
		.nav_item
			- f = $home_page[:fruit][rand(6)]
			= image_tag("fruit/#{f[0]}.png")
			%span.button.xs.title.glossy.back{:class => f[1]}(data-icon=" ")
				= f[0]
	%a{:href => "/hot"}
		.nav_item
			- f = $home_page[:fruit][rand(6)]
			= image_tag("fruit/#{f[0]}.png")
			%span.button.xs.title.glossy{:class => f[1]}(data-icon=" ")
				= f[0]