- if id = current_member.uid
	%h4.alert
		%span.icon-user
		您的 17up 公民身份 ID: 
		= id
	.alert.alert-info
		现在，你可以带你的朋友来参观你的 17up 个人秀啦
		= link_to current_member.member_path do
			%span.label.label-success
				%i.icon-home
				= $config[:host] + current_member.member_path
	.alert.alert-info
		= link_to "#" do
			%span.btn.btn-success.btn-large			
				申请成为教师
- elsif current_member.is_member?
	%h4.alert.text_center
		请在此申领您的公民 ID 号，代表着你在 17up 世界里的唯一身份
	.alert.alert-info.text_center
		❝ 一个好名字意味着良好的开端 ❞
	#set_uid.alert.alert-warning.text_center
		ID 只能由 字母、数字、_构成
		= form_tag "/members/update" do
			= text_field_tag :uid,"",:placeholder => "eg: i_love_u_17",:autocomplete => "off"
			= submit_tag "登记",:class => "btn btn-primary"
				
- else
	#guide_1.guide
		%h4.alert.text_center
			17up 星球能为你做什么？
		.alert.alert-info.text_center
			嘿嘿，初次造访，这也许是你最想问的问题
			%br
			一句话概括：17up 将努力为热爱学习的你提供新鲜美味的知识
			%br
			首先我们将围绕英语学习开始
			%br
			如果你仍有兴趣的话，立即开始体验第一课，你会发现这里很特别
		.hello_course.text_center
			= link_to account_path do
				%span.btn.btn-success.btn-large			
					立即体验课程
	#guide_2.guide
		= render "members/sub_module/user_guide"
	
	