- if id = current_member.uid
	%h4.alert
		%span.icon-user
		您的 17up 公民身份 ID: 
		= id
	.alert.alert-info
		现在，你可以带你的朋友来参观你的 17up 小屋啦
		= link_to current_member.member_path do
			%span.icon-home
	.alert.alert-error
		非常友好的“公民行为指导手册”正在制作中，敬请期待。。。
- else
	.alert
		在这儿申领您的公民 ID 号，代表着你在 17up 世界里的唯一身份
		%br
		♛ 注意是唯一的哦，赶紧抢先登记吧
	%p
		= form_tag "/members/update",:id => "uid_form" do
			= text_field_tag :uid,"",:placeholder => "ID"
			= submit_tag "登记",:class => "btn btn-primary"
	