%h3
	已完成绑定 
	= current_member.providers.length
	个
.providers.clearfix
	- Provider::PROVIDERS.each do |p|	
		- if current_member.has_provider?(p)
			.item.left.binded
				= image_tag("icon/#{p}_big.png",:title => p)
		- else
			.item.left
				= link_to image_tag("icon/#{p}_big.png",:title => p),member_omniauth_authorize_path(p)