.card.alert.clearfix
	= render 'shared/uploader',:url => "/members/upload_avatar",:type => "image"
	.avatar.pull-left(title="点我更换头像")
		= image_tag current_member.avatar
	.info.pull-left
		.name
			= current_member.name
		.providers
			- current_member.providers.each do |p|
				= link_to image_tag("icon/#{p.provider}_big.png"),p.link,:target => "blank"
	.date
		%i= format_date(current_member.created_at)
