- @leafs.each do |leaf|
	.leaf
		.info.clearfix
			%span.avatar.left
				= my_image_tag(leaf.provider.avatar,leaf.provider.weibo)
			%span.name.left
				= link_to leaf.provider.user_name,"mobile/p/#{leaf.provider.id}"
			%span.time.right
				= time_stamp(leaf.time_stamp)
		.content
			= auto_link(leaf.content)
		- if leaf.image
			.img
				= image_tag(leaf.image(:medium))
		- if !leaf.video.blank?
			%video{:src => "#{leaf.video}"}(preload="auto" controls height=250 width=300 webkit-playsinline)