- @words.each do |w|
	.word
		.title{:rel => "#{w.title}"}
			%i.icon-sound{:src => "#{DICT_SOURCE[:english_v]+w.title}"}
			%span.w_name
				= w.title
		- w.word_guess.each_with_index do |f,i|
			.field{:rel => "#{f.title}",:class => "f_#{i}"}(onclick = "is_correct($(this))")
				= f.content
#reset.word
	%span.reset_btn(onclick = "reset_test()")
		再次测试