- if @users
	#user_list_wrap
		#user_list.clearfix
			- @users.each do |u|
				%a.l2p{:pid => u.id }(href="#")
					.user_item
						.avatar
							= image_tag(u.avatar(:large))
						.name
							= u.user_name
#leafs_wrap
	- @leafs.each do |leaf|
		.leaf
			.info.clearfix
				%span.avatar.left
					= image_tag(leaf.provider.avatar)
				%span.name.left
					%a.l2p{:pid => leaf.provider.id }(href="#")
						= leaf.provider.user_name
				%span.time.right
					= time_stamp(leaf.time_stamp)
			.content
				= auto_link(leaf.content)
			- if leaf.image
				.img
					= image_tag(leaf.image(:medium))
			- if !leaf.video.blank?
				%video{:src => "#{leaf.video}"}(preload="auto" controls height=250 width=300 webkit-playsinline)
