#wrap
	- if @can_add_tag
		#new_word
			= form_tag '/words/create?admin=true',:remote => true do
				%input(type="search" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete )
		= render 'modal/new_word_tag'
	.banner_wrap
		%h3.banner_title.dancer
			= @ctitle
	.words_container
		#word_nav
			%ul#filter_nav.clearfix.dark_nav	
				%li.active
					%a(href="#all" data-filter="*")
						All
				- @ctags.each do |t|
					%li
						%a{:href => "#"+t,:"data-filter" => "."+t}
							= t.capitalize
		#word_ground
			- @words.each do |w|
				= render 'word',:w => w
