#course_wrap
	- if @can_add_tag
		#new_word
			= form_tag '/words/create?admin=true',:remote => true do
				%input(type="search" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete )
		= render 'modal/new_word_tag'
	.banner_wrap
		%h3.banner_title.dancer
			= @ctitle
	.words_container
		#word_nav
			%ul#filter_nav.clearfix	
				%li.active
					%a.button.glossy.xs.pink.skew(href="javascript:void(0)" data-filter="*" data-icon=" ")
						All
				- @ctags.each do |t|
					%li
						%a.button.glossy.xs.green.skew{:"data-filter" => "."+t}(href="javascript:void(0)" data-icon=" ")
							= t.capitalize
			%span.btn-group
				%span.btn.btn-info.active(rel="wd")
					%i.icon-th-large
				%span.btn.btn-info(rel="pic")
					%i.icon-picture
		#word_ground
			- @words.each do |w|
				= render 'word',:w => w
