#course_wrap
	- if @can_add_tag
		#new_word
			= form_tag '/words/create?admin=true',:remote => true do
				%input(type="search" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete )
		= render 'modal/new_word_tag'
	.banner_wrap
		%h3.banner_title.dancer
			= @ctitle
	.words_container
		#word_nav
			%ul#filter_nav.clearfix.dark_nav	
				%li.active
					%a(href="javascript:void(0)" data-filter="*")
						All
				- @ctags.each do |t|
					%li
						%a{:"data-filter" => "."+t}(href="javascript:void(0)")
							= t.capitalize
			%span.btn-group
				%span.btn.btn-inverse.active(rel="wd")
					%i.icon-th-large
				%span.btn.btn-inverse(rel="pic")
					%i.icon-picture
		#word_ground
			- @words.each do |w|
				= render 'word',:w => w
