#olive.container.tabbable.tabs-left
	%ul.nav.nav-tabs
		- Olive::SIDENAV.each_with_index do |n,i|
			%li{:class => ("active" if i == 0)}
				= link_to "##{n}",:"data-toggle" => "tab" do
					= n.capitalize
					%i.icon-chevron-right
	.tab-content
		- Olive::SIDENAV.each_with_index do |s,i|
			.tab-pane{:id => s,:class => ("active" if i == 0)}
				= render "olive/o_#{s}",:s => s
	.tags
		- @tags.each do |tag|
			.tag
				%span.label.label-info
					= tag[0]
					= tag[1]