#olive.container
	.row
		.span3.bs-docs-sidebar
			%ul.nav.nav-list.bs-docs-sidenav(data-spy="affix" data-offset-top="200")
				- Olive::SIDENAV.each do |n|
					%li
						= link_to "##{n}" do
							= n.capitalize
							%i.icon-chevron-right
		.span9
			- Olive::SIDENAV.each do |s|
				%section{:id => s}
					= render "olive/o_#{s}",:s => s