!!!
%html
	%head
		%title=raw @title
		%meta(content="text/html; charset=UTF-8" http-equiv="content-type")
		%meta{'name' => "description", :content => "#{@meta_description}"}
		%meta{'name' => "keywords", :content => "#{@meta_keywords}"}
		%meta(name="author" content="veggie")
		= csrf_meta_tag
		= stylesheet_link_tag "application", :media => "all"	
		= render "shared/track"
		%link(rel="shortcut icon" href="/favicon.png")
	%body
		- unless @is_root
			%nav
				#header
					= render 'shared/header'
		%section
			#main
				= yield
		%footer
			- if @is_root
				= render 'shared/copyright'
			- else
				= render 'shared/menu'
		- if flash[:notice]
			#flash.notice.hide
				= flash[:notice]
		= javascript_include_tag "application"