= render "members/sub_module/cpanel"
= render "modal/magic_images"
= render "modal/audio_input"
#user_home
	- if @u_words.any?		
		= render "members/sub_module/start_page",:c => @course.as_json
		= render "members/sub_module/impress",:data => @u_words
	- else
		= render "games/allen"