#user_setting.container.tabbable.tabs-left
	%ul.nav.nav-tabs
		- Member::EDIT_SIDENAV.each_with_index do |n,i|
			%li{:class => ("active" if i == 0)}
				= link_to "##{n}",:"data-toggle" => "tab" do
					= t("members.sidenav.#{n}")
					%i.icon-chevron-right
	.tab-content
		- Member::EDIT_SIDENAV.each_with_index do |s,i|
			.tab-pane{:id => s,:class => ("active" if i == 0)}
				= render "members/sidenav_section/#{s}",:s => s