= render "modal/magic_images"
#user_home
	- if @owner
		#new_word.hide
			= form_tag '/words/u_create',:remote => true do
				%input(type="search" name="word" id="word" placeholder="输入单词" required="required" autocomplete="off" disableautocomplete )
		=# render "games/allen"
	#ground
		- @u_words.each do |w|			
			- if @owner
				.word_item.active
					%span.word.button{:class => (w.has_image ? 'green' : 'pink')}(data-icon=" ")
						= w.title		
					.cpanel.active{:data => w.title}
						= render 'image_upload',:wid => w.id
						%a.button.blue.glossy(data-icon=" " href="#upload")
							%i.icon-upload-alt
						%a.button.orange.glossy(data-icon=" " href="#magic")
							%i.icon-magic
					.pic.hidden
						= image_tag(w.image)
			- elsif w.has_image
				.word_item
					.pic
						= image_tag(w.image)
